.datePicker {
    margin: 20px 0;
    text-align: center;
    border-radius: 8px;
  }
  
  .datePicker label {
    margin-right: 10px;
    font-size: 1.2rem;
  }
  
  .datePicker input {
    padding: 5px;
    font-size: 1rem;
    border-radius: 6px;
  }
  
  .searchButton {
    margin: 10px;
    padding: 5px 10px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .searchButton:hover {
    background-color: #0056b3;
  }