body {
  background-color: #111827; /* Темный фон для предотвращения яркой вспышки */
  color: white;
  transition: background-color 0.3s ease; /* Плавный переход фона */
}

a {
  text-decoration: none;
  color: inherit;
}
